
<!DOCTYPE html>
<html>
<head>
    <title>CloudGuard Dashboard</title>
</head>
<body>
    <h1>CloudGuard Dashboard</h1>

    <a href="/scan">
        <button>Run New Scan</button>
    </a>

    <h2>Currently Viewing Report</h2>

    <p>Scan Time: {{ report_data.scan_time }}</p>
    <p>Total Buckets: {{ report_data.total_buckets }}</p>
    <p>Average Score: {{ report_data.average_score }}/100</p>

    {% for bucket in report_data.buckets %}
        <h2>{{ bucket.bucket_name }}</h2>
        <p>Security Score: {{ bucket.security_score }}/100</p>

        <h3>Findings</h3>
        <ul>
            {% for finding in bucket.findings %}
                <li>{{ finding }}</li>
            {% endfor %}
        </ul>
    {% endfor %}

    <h2>Scan History</h2>

    <ul>
        {% for scan in scan_history %}
            <li>
                <a href="/report/{{ scan.file }}">
                {{ scan.scan_time }} |
                Buckets: {{ scan.total_buckets }} |
                Average Score: {{ scan.average_score }}/100
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>